<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<script>
    
let $= document.querySelector;

window.addEventListener('load',function(){
            $('.reverse').addEventListener('click',function(){
                $row = $(this).closest('tr');
                id=$('.id',$row).html();
                window.fetch('http://localhost:5000/reversal/'+id,{
                    method:'post'
                })
                .then(function(res){ alert('successful payment')});
                .error(console.log('error submitting form'))
            });
            $('form').addEventListener('submit',function(e){
                e.preventDefault();
                let amount = $('#amount'),
                    number = $('#number');

            })
        });
    </script>
</head>
<body>

    {{{body}}}

</body>
<script>

</script>
</html>